<section id="displaywarr">
     <table class="table table-striped mt-5">
    <thead class="thead-dark">
        <tr>
            <th>Warranty Id</th>
            <th>Warranty Name</th>
            <th>Products</th>
            <th>Duration</th>
            <th>Resolution</th>
            <th>Type</th>
            <th>Extendable Duration</th>
            <th>Extension Price</th>
        </tr>
        </thead>
        <tbody>
            {{#each warr}}
            <tr>
                <td>{{warrId}}</td>
                <td>{{warrName}}</td>
                <td>{{prodId}}</td>
                <td>{{duration}}</td>
                <td>{{resolution}}</td>
                <td>{{type}}</td>
                <td>{{extendDur}}</td>
                <td>{{extendPrice}}</td>
            </tr>
            {{else}}
            <h1 style="text-align: center; color: black">No Products</h1>
            {{/each}}
        </tbody>
    </table>
</section>